*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #e7cdce;
}
.login{
  background-image: url('./images/sheet.jpg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  padding: 20%;
  text-align: center;
}
.titleWindowSign{
  font-family: 'Patrick Hand';
  margin-top: -15%;
  margin-bottom: 5%;
  font-size: 3rem;
}
.form-login{
  font-family: 'Patrick Hand';
  background-color: transparent;
  font-size: 1rem;
  margin-bottom: 5%;
  border-color: #e7cdce;
  border-radius: 1rem;
}
.buttonSign{
  font-family: 'Patrick Hand';
  background-color: transparent;
  font-size: 1rem;
  justify-content: space-around;
  border-color: #e7cdce;
  border-radius: 1rem;
}
.nav{
  position: relative;
  min-height: 10vh;
}
.nav-router{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: 'Patrick Hand';
  font-size: 1.5rem;
  width: 100%;
}
.nav-router{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  top: 0;
  position: fixed; 
  overflow: auto; 
}
.nav-router li{
  float: left;
}
.nav-router li a{
  display: block;
  color: black;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: .5rem;
}
.backgroundNewNote{
  display: block;
  text-align: center;
  margin-top: 5%;
  font-family: 'Patrick Hand';
  font-size: 1rem;
}
.note{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin:auto;
  width: 30%;
  margin-bottom: 5%;
}
.form-new-note{
  background-color: transparent;
  font-family: 'Patrick Hand';
  font-size: 1.5rem;
  text-align: center;
}
#note{
  height: auto;
}
.buttonSaveNote{
  background-color: transparent;
  font-family: 'Patrick Hand';
  font-size: 1.5rem;
}
.backgroundMyNotes{
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.allNotes{
  background-image: url('./images/sheet-note.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15%;
  margin: auto;
  margin-top: 10%;
  font-family: 'Patrick Hand';
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.allNotes h6{
  font-size: 1rem;
}
.form{
  height: auto;
  width: 100%;
  font-size: 1rem;
  font-family: 'Patrick Hand';
}
.buttonAllNotes{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
}


@media screen and (max-width:620px){
  .login{
    background-image: url('./images/sheet.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 40%;
    text-align: center;
  }
  .titleWindowSign{
    font-family: 'Patrick Hand';
    margin-top: -15%;
    margin-bottom: 5%;
    font-size: 3rem;
  }
  .form-login{
    font-family: 'Patrick Hand';
    background-color: transparent;
    font-size: 1rem;
    margin-bottom: 5%;
    border-color: #e7cdce;
    border-radius: 1rem;
    margin-left: -35%;
  }
  .buttonSign{
    font-family: 'Patrick Hand';
    background-color: transparent;
    font-size: 1rem;
    justify-content: space-around;
    border-color: #e7cdce;
    border-radius: 1rem;
  }
  .nav-router{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 1rem;
    color: black;
    width: 100%;
  }
  .nav-router{
    list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
      top: 0;
      position: fixed; 
      overflow: auto; 
  }
  .note{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin:auto;
    width: 80%;
    margin-bottom: 5%;
  }
  .form-new-note{
    background-color: transparent;
    font-family: 'Patrick Hand';
    font-size: 1rem;
    text-align: center;
  }
  #note{
    height: auto;
  }
  .allNotes h6{
    font-size: 1rem;
  }
  .form{
    height: auto;
    width: 100%;
    font-size: 1rem;
    font-family: 'Patrick Hand';
  }
  .buttonAllNotes{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
  }
}
