/*{
    margin: 0;
    padding: 0;
}
.backgroundSign{
    
    text-align: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 35%;
}
.titleWindowSign{
    font-family:'Playfair Display SC', serif;
    font-size: 50px;
    padding-top: 12%;
    padding-bottom: 5%;
    font-weight: bold;
}
input{
    text-align: center;
    border-color: transparent;
    font-size: 150%;
    margin-bottom: 2%;
    font-family: 'Patrick Hand';
    color: black;
    border-bottom-color: #f9c0b5;
}
.buttonSign{
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    color: black;
    font-family: 'Patrick Hand';
    font-size: 100%;
}
*/
